<a
    href={Astro.props.href}
    target="_blank"
    class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-900 dark:hover:text-white"
    >
    <span class="sr-only">{Astro.props.sr}</span>
    <slot />
</a>