---
import ButtonIcon from "@components/ButtonIcon.astro";
import GithubIcon from "@icons/GithubIcon.astro";
import MailIcon from "@icons/MailIcon.astro";
import LinkedinIcon from "@icons/LinkedinIcon.astro";
---
<div class="relative z-20 w-full max-w-4xl mx-auto mt-16 px-7 md:mt-24 lg:mt-32 xl:px-0">
    <div class="flex flex-col items-center md:flex-row">
        <div class="relative w-full md:w-1/2">
        <h1
            class="mb-5 text-4xl font-bold leading-tight md:text-4xl lg:text-6xl dark:text-white"
        >
            Hello, I'm Nacho.
        </h1>
        <p class="mb-6 text-base text-neutral-600 dark:text-neutral-400">
            I'm a Mathematician and Software Developer living in Málaga. <br
            class="hidden lg:block"
            />I focus on programming and numerical methods.
        </p>
        <p class="mb-2 font-semibold text-neutral-800 dark:text-neutral-200">
            I am interesting in:
        </p>
        <ul
            class="py-2 space-y-[3px] text-sm list-disc list-inside text-neutral-500 dark:text-neutral-400"
        >
            <li>Fluid Dynamics Simulation</li>
            <li>Numerical Analysis and Applications</li>
            <li>Backend Development</li>
            <li>Full Stack Web Development</li>
            <li>and more...</li>
        </ul>
        <div class="flex flex-row gap-1 justify-center">
            <ButtonIcon text="Github" link="https://github.com/nramirez-f">
                <GithubIcon class="w-6 h-6" />
            </ButtonIcon>
            <ButtonIcon text="fibodev27@gmail.com" link="mailto:fibodev27@gmail.com">
                <MailIcon class="w-6 h-6" />
            </ButtonIcon>
            <ButtonIcon text="Linkedin" link="https://es.linkedin.com/in/jos%C3%A9-ignacio-ram%C3%ADrez-fuentes-937a38251">
                <LinkedinIcon class="w-6 h-6" />
            </ButtonIcon>
        </div>
        </div>
        <div
        class="relative justify-end hidden w-full mt-10 md:flex md:pl-10 md:w-1/2 md:mt-0 md:translate-y-4 xl:translate-y-0"
        >
        <div class="relative z-50 w-full">
            <div class="relative z-30 px-10">
            <img
                src="/assets/images/avatar.png"
                alt="Pixar Avatar of Nramirez"
                loading="lazy"
                decoding="auto"
                class="relative transform scale-150 -translate-y-20 z-30 w-full md:max-w-md mx-auto"
            />
            </div>
            <div
            class="absolute bottom-0 right-0 z-20 w-full h-full lg:h-[420px] translate-x-0 -translate-y-px border border-dashed rounded-2xl bg-gradient-to-r dark:from-neutral-950 dark:via-black dark:to-neutral-950 from-white via-neutral-50 to-white border-neutral-300 dark:border-neutral-700"
            >
            </div>
        </div>
        </div>
    </div>
</div>